<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    {% comment %} <title>{{Title}}</title> {% endcomment %}
    <title>Web Developer Cheklist</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

    <header id='header' class='bg-success' >
        <div class="d-inline-flex p-2 flex-row container-fluid">
            <a href="/" alt='logo'  class="img-fluid">
                {% comment %} <img  src="{%static '/img/logo.png' %}"> {% endcomment %}
            </a>
            <h1 class='p-2 text-white'>Web Developer Checklist</h1>
            <select class='form-select' aria-label="Начинающий QA тестировщик">
                {% for i in range(len(category_bloks)) %}
                    {% for val in category_bloks %}
                        <options value = "{{i}}">{{val}} </options>
                        {{i=i+1}}
                    {% endfor %}
                {% endfor %}
            </select >
            <p>{{category_bloks}}</p>
        </div>
    </header>

    {% block content %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>