<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{Title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    {%load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/content.css' %}">
</head>
<body>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<header>
    <div class="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="/">
                <img src="{%static '/img/qa-logo.jpg' %}">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <!--            <li class="nav-item">-->
                    <!--                <a class="nav-link" href="#">Link</a>-->
                    <!--            <li class="nav-item">-->
                    <!--                <a class="nav-link disabled" href="#">Disabled</a>-->
                    <!--            </li>-->
                    <li class="nav-item">
                        <div class="logos logo">
                            <img src="{%static '/img/jenkins-logo.png' %}">
                            <a href="http://80.87.200.64:8181/" target="_blank">Jenkins</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="logos logo">
                            <img src="{%static '/img/allure-logo.png' %}">
                            <a href="http://80.87.200.64:5050/allure-docker-service/projects/default/reports/latest/index.html"
                               target="_blank">Allure</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="logos logo">
                            <img src="{%static '/img/ispmanager-logo.png' %}">
                            <a href="http://80.87.200.64:1500/" target="_blank">ISPManager</a>
                        </div>
                    </li>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Ссылки
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/parser">Парсер</a>
                            <!--                    <a class="dropdown-item" href="#">Another action</a>-->
                            <!--                    <div class="dropdown-divider"></div>-->
                            <!--                    <a class="dropdown-item" href="#">Something else here</a>-->
                        </div>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                <p>{{user}}</p>
                <button class="btn btn-outline-success my-2 my-sm-0 ml-2" onclick="location.href = '/logout';">Logout</button>
                {% else %}
                <button class="btn btn-outline-success my-2 my-sm-0 ml-2" onclick="location.href = '/login';">Login</button>
                {% endif %}
            </div>
        </nav>
    </div>
</header>

<div class="content mt-5" style="display: flex; justify-content: center;">
    {% block content %}{% endblock %}
</div>
<script src="{% static 'js/click.js' %}"></script>
</body>
</html>