{% extends 'base.html' %}
{%load static %}

{% block content %}


{% if user.is_authenticated %}
<div class="message" id="success_div"></div>
<form id="parser" method="post" action="request/">
    <p>Сайт</p>
    <input class="site" name="site" placeholder="https://niidpo.ru" >
    <p>Паттерны</p>
    <input class="patterns" name="patterns" placeholder="МАДП, академия">
    <button id="form" width="120px" heigth="30px">Парсить</button>

    {% csrf_token %}
</form>
<br>
<table style="table-parser">
    <tr>
        <td>Дата/время</td>
        <td>Сайт</td>
        <td>Паттерны</td>
        <td>Ссылка на результат</td>
    </tr>
    {% for rec in records%}
    <tr>
        <td>{{rec.datetime}}</td>
        <td>{{rec.site}}</td>
        <td>{{rec.patterns}}</td>
        <td><a href="{{ MEDIA_URL }}{{rec.fileName}}" target="_blank">ссылка</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>Авторизуйтесь</p>
{% endif %}

{% endblock %}