{% extends 'base2.html' %}
{%load static %}

{% block content %}

<div class='container-fluid d-flex flex-wrap'>
    <div class='card'>
        <div class="card-body">
            <h2>Best Practices</h2>
            <h3>Required:</h3>
                <div class="form-check subtitle">
                    <input class="form-check-input" type="checkbox"  value="" id="flexCheckDefault"/>
                    <label class="form-check-label" for="flexCheckDefault">Default checkbox</label>
                    <span><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" style="width:20px;height:20px" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path></svg></span>
                <div class='links'>
                    <ul>
                        <li>
                            <a href="#">Какой то заголовок с ссылкой</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>    
{% comment %} 
    <div class='card'>
        <div class="card-body">
            <h2>Best Practices</h2>
            <h3>Required:</h3>
            <div  class="form-check subtitle">
                    <input class="form-check-input" type="checkbox"  value="" id="flexCheckDefault"/>
                    <label class="form-check-label" for="flexCheckDefault">Default checkbox</label>
                    <span><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" style="width:20px;height:20px" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path></svg></span>
                <div class='links'>
                    <a href="#">Какой то заголовок с ссылкой</a>
                </div>
            </div>
        </div>
    </div>     {% endcomment %}
{% comment %} 
    <div class='card'>
        <div class="card-body">
            <h2>Best Practices</h2>
            <h3>Required:</h3>
                <div class="form-check subtitle">
                    <input class="form-check-input" type="checkbox"  value="" id="flexCheckDefault"/>
                    <label class="form-check-label" for="flexCheckDefault">Default checkbox</label>
                    <span><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" style="width:20px;height:20px" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path></svg></span>
                <div class='links'>
                    <a href="#">Какой то заголовок с ссылкой</a>
                </div>
            </div>
        </div>
    </div>    

    <div class='card'>
        <div class="card-body">
            <h2>Best Practices</h2>
            <h3>Required:</h3>
                <div class="form-check subtitle">
                    <input class="form-check-input" type="checkbox"  value="" id="flexCheckDefault"/>
                    <label class="form-check-label" for="flexCheckDefault">Default checkbox</label>
                    <span><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" style="width:20px;height:20px" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path></svg></span>
                <div class='links'>
                    <a href="#">Какой то заголовок с ссылкой</a>
                </div>
            </div>
        </div>
    </div>    

    <div class='card'>
        <div class="card-body">
            <h2>Best Practices</h2>
            <h3>Required:</h3>
                <div class="form-check subtitle">
                    <input class="form-check-input" type="checkbox"  value="" id="flexCheckDefault"/>
                    <label class="form-check-label" for="flexCheckDefault">Default checkbox</label>
                    <span><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" style="width:20px;height:20px" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path></svg></span>
                <div class='links'>
                    <ul>
                        <li>
                    <a href="#">Какой то заголовок с ссылкой</a></li>
                </ul>
                </div>
            </div>
        </div>
    </div>    

    <div class='card'>
        <div class="card-body">
            <h2>Best Practices</h2>
            <h3>Required:</h3>
                <div class="form-check subtitle">
                    <input class="form-check-input" type="checkbox"  value="" id="flexCheckDefault"/>
                    <label class="form-check-label" for="flexCheckDefault">Default checkbox</label>
                    <span><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" style="width:20px;height:20px" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path></svg></span>
                <div class='links'>
                    <ul>
                        <li>
                            <a href="#">Какой то заголовок с ссылкой</a></li>
                        </ul>
                </div>
            </div>
        </div>
    </div>    

    <div class='card'>
        <div class="card-body">
            <h2>Best Practices</h2>
            <h3>Required:</h3>
            <div>
                <div class="form-check subtitle">
                    <input class="form-check-input" type="checkbox"  value="" id="flexCheckDefault"/>
                    <label class="form-check-label" for="flexCheckDefault">Default checkbox</label>
                    <span><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" style="width:20px;height:20px" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path></svg></span>
                <div class='links'>
                    <ul>
                        <li>
                        <a href="#">Какой то заголовок с ссылкой</a> </li>
                        <li><a href="#">Какой то заголовок с ссылкой</a> </li>
                        <li><a href="#">Какой то заголовок с ссылкой</a> </li>
                        <li> <a href="#">Какой то заголовок с ссылкой</a></li>
                        <li> <a href="#">Какой то заголовок с ссылкой</a></li>
                        <li> <a href="#">Какой то заголовок с ссылкой</a></li>
                        <li> <a href="#">Какой то заголовок с ссылкой</a></li>
                        <li> <a href="#">Какой то заголовок с ссылкой</a></li>
                </div>
                </div>
            </div>
        </div>
    </div>    

    <div class='card'>
        <div class="card-body">
            <h2>Best Practices</h2>
            <h3>Required:</h3>
            <div>
                <div class="form-check subtitle">
                    <input class="form-check-input" type="checkbox"  value="" id="flexCheckDefault"/>
                    <label class="form-check-label" for="flexCheckDefault">Default checkbox</label>
                    <span><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" style="width:20px;height:20px" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path></svg></span>
                <div class='links'>
                    <ul>
                        <li>
                    <a href="#">Какой то заголовок с ссылкой</a></li>
                </div>
                </div>
            </div>
        </div>
    </div>    

    <div class='card'>
        <div class="card-body">
            <h2>Best Practices</h2>
            <h3>Required:</h3>
            <div>
                <div class="form-check subtitle">
                    <input class="form-check-input" type="checkbox"  value="" id="flexCheckDefault"/>
                    <label class="form-check-label" for="flexCheckDefault">Default checkbox</label>
                    <span><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" style="width:20px;height:20px" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path></svg></span>
                <div class='links'>
                    <a href="#">Какой то заголовок с ссылкой</a>
                </div>
                </div>
            </div>
        </div>
    </div>    

    <div class='card'>
        <div class="card-body">
            <h2>Best Practices</h2>
            <h3>Required:</h3>
            <div>
                <div class="form-check subtitle">
                    <input class="form-check-input" type="checkbox"  value="" id="flexCheckDefault"/>
                    <label class="form-check-label" for="flexCheckDefault">Default checkbox</label>
                    <span><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" style="width:20px;height:20px" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path></svg></span>
                <div class='links'>
                    <a href="#">Какой то заголовок с ссылкой</a>
                </div>
                </div>
            </div>
        </div>
    </div>    

    <div class='card'>
        <div class="card-body">
            <h2>Best Practices</h2>
            <h3>Required:</h3>
            <div>
                <div class="form-check subtitle">
                    <input class="form-check-input" type="checkbox"  value="" id="flexCheckDefault"/>
                    <label class="form-check-label" for="flexCheckDefault">Default checkbox</label>
                    <span><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" style="width:20px;height:20px" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path></svg></span>
                <div class='links'>
                    <a href="#">Какой то заголовок с ссылкой</a>
                </div>
                </div>
            </div>
        </div>
    </div>    

    <div class='card'>
        <div class="card-body">
            <h2>Best Practices</h2>
            <h3>Required:</h3>
            <div>
                <div class="form-check subtitle">
                    <input class="form-check-input" type="checkbox"  value="" id="flexCheckDefault"/>
                    <label class="form-check-label" for="flexCheckDefault">Default checkbox</label>
                    <span><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" style="width:20px;height:20px" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path></svg></span>
                <div class='links'>
                    <a href="#">Какой то заголовок с ссылкой</a>
                </div>
                </div>
            </div>
        </div>
    </div>    

    <div class='card'>
        <div class="card-body">
            <h2>Best Practices</h2>
            <h3>Required:</h3>
            <div>
                <div class="form-check subtitle">
                    <input class="form-check-input" type="checkbox"  value="" id="flexCheckDefault"/>
                    <label class="form-check-label" for="flexCheckDefault">Default checkbox</label>
                    <span><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" style="width:20px;height:20px" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path></svg></span>
                <div class='links'>
                    <a href="#">Какой то заголовок с ссылкой</a>
                </div>
                </div>
            </div>
        </div>
    </div>     {% endcomment %}
</div>
{% comment %} 
<p>Hello it's me</p> {% endcomment %}


{% endblock %}