{% extends 'base2.html' %}
{% load static %}
{% block content %}
    {% for main_block in blocks %}
        {% if main_block.on_page %}
            <div class='container-fluid d-flex flex-wrap'>
                <div class='card'>
                    <div class="card-body">
                        <h2>{{ main_block.title_block }}</h2>
                        {% for point in points %}
                            {% if point.id_block == main_block %}
            
                                    {% ifchanged %}

                                        <h3 class='importance'>

                                            {% for prm in param%}
                                                {% if prm == point.id_params %}
                                                        {{ prm.importance }}:
                                                {% endif %}
                                            {% endfor %}
                                            
                                        </h3>

                                    {% endifchanged %}
                                        
                            {% endif %}
                            {% if point.id_block == main_block %}
                                <div class="form-check subtitle">
                                    <input class="form-check-input" type="checkbox" id="flexCheckDefault{{point.id}}"/>
                                    <label class="form-check-label" for="flexCheckDefault{{point.id}}">{{ point.general_heading_items }}</label>
                                    <span class="arrow">
                                        <svg stroke="currentColor"
                                            class="svg_arrow"  
                                             fill="currentColor"
                                             stroke-width="0"
                                             viewBox="0 0 24 24"
                                             height="1em"
                                             width="1em"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path>
                                        </svg>
                                    </span>
                                    <div class='links'>
                                        <ul>
                                            <li>
                                            {% for content in sub_items %}
                                                {% if content.id_block == point %}<a href="{{ content.link_page }}">{{ content.title_link }}</a>{% endif %}
                                            {% endfor %}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
